body {
  margin: 0;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chats {
  width: 300px;
  background-color: rgb(54, 54, 54);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(54, 54, 54);
  margin: 20px 20px 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
}

.chat-header-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s all;
}

.chat-header-icon:hover {
  opacity: 1;
}

.chat-header-avatar {
  background-image: url("/person.svg");
}

.chat-header-info {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.chat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-list-item {
  display: flex;
  padding: 10px;
  transition: 0.1s all;
  cursor: pointer;
  margin: 6px;
  margin-top: 0;
  border-radius: 6px;
  position: relative;
}

.chat-list-item:after {
  content: "";
  width: calc(100% - 16px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
}

.chat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.chat-list-item:hover:after {
  opacity: 0;
}

.chat-list-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/person.svg");
  filter: invert(1);
  flex: 1;
}

.chat-list-item-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.chat-list-item-info-name {
  margin: 0;
  font-size: 14px;
}

.chat-list-item-info-message {
  margin: 4px 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.chat-list-item-time {
  flex: 1;
  font-size: 12px;
  text-align: right;
  color: rgb(110, 110, 110);
}

.chat-header-main {
  background-color: rgba(255, 255, 255, 0.04);
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.chat-header-icon-main {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
  margin: 10px;
  background-image: url("/person.svg");
}

.chat-header-info-main {
  
}

.chat-header-info-status-main{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2px;
}


.chat-header-icon-search {
  background-image: url("/search.svg");
}

.chat-header-icon-menu {
  background-image: url("/menu.svg");
}

.chat-input{
  height: 60px;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.chat-content{
  flex:1;
  width: 100%;
  display: flex;
  overflow: auto;
}

.chat-input-text{
  flex: 1;
  background-color: rgb(64, 64, 64);
  margin: 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 16px;
  outline: none;
  border-radius: 24px;
  font-size: 14px;
}

.chat-header-icon-sent{
  background-image: url("/sent.svg");
  height: auto;
}
.chat-input-icon-attachment{
  background-image: url("/attach.svg");
  height: auto;
}

.chat-header-icon-icon{
  background-image: url("/emoji.svg");
  height: auto;
}
