@media only screen and (max-width: 600px) {
  .profile {
    width: 80% !important;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.profile {
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  background-color: rgb(54, 54, 54);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}



